.simple-container
	ul
		li
			i.icon.ficon-action-forward
			|Icon action-forward
		li
			i.icon.ficon-arrow
			|Icon arrow
		li
			i.icon.ficon-icon-chevron-left-inverse
			|Icon icon-chevron-left-inverse
		li
			i.icon.ficon-icon-air-left
			|Icon icon-air-left
		li
			i.icon.ficon-green-checkmark
			|Icon green-checkmark
		li
			i.icon.ficon-icon-star
			|Icon Star
