div.row-fluid
	div.simple-container.span6 testing 2
	div.simple-container.span6 testing 100

.plane-container.row-fluid
	.btn-group
		button.btn.btn-large Left
		button.btn.btn-large Middle
		button.btn.btn-large Right

.plane-container.row-fluid
	button(class="btn btn-large btn-primary" type="button") Large button
