div.row-fluid
	div.simple-container.span6 testing 2
	div.simple-container.span6 testing 100

.plain-container.row-fluid
	.btn-group
		a.btn.btn-large(href="/") #[i(class="icon-home")]
			|Home
		a.btn.btn-large(href="/LayoutExamples") Layout Examples
		a.btn.btn-large(href="/login") Login