.form-module.simple-container
    label(data-agent="MyAgent")
        span User Name:
        input(type="text" placeholder="temp" value="")

    label(data-agent="MyAgent")
        span Password:
        input(type="password" value="")

    label.compact(data-agent="MyAgent")
        span User Name:
        input.large(type="text" placeholder="temp" value="")

    label.compact
        span Password:
        input(type="password" value="")

    .small Something is important that nothing is a proverb that used in everyone's life regularly! Something is important that nothing is a proverb that used in everyone's life regularly! Something is important that nothing is a proverb that used in everyone's life regularly! Something is important that nothing is a proverb that used in everyone's life regularly!
