.hideReveal-module.simple-container
    h3 Hide and Reveal Module Example
    .hideReveal(data-agent="HideReveal" data-showText="+ Show More Details" data-hideText="- Hide Details")
        .hiddenContent.plain-container.hidden
            |Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets.

.form-module.simple-container
    label(data-agent="MyAgent" data-what="first")
        span User Name:
        input(type="text" placeholder="temp" value="")

    label(data-agent="MyAgent" data-what="second")
        span Password:
        input(type="password" value="")

    label.compact(data-agent="MyAgent" data-what="third" data-newbie="I am new")
        span User Name:
        input.large(type="text" placeholder="temp" value="")

    label.compact(data-agent="TestAgent" data-what="third" data-newbie="I am new")
        span Password:
        input(type="password" value="")

    .small Something is important that nothing is a proverb that used in everyone's life regularly! Something is important that nothing is a proverb that used in everyone's life regularly! Something is important that nothing is a proverb that used in everyone's life regularly! Something is important that nothing is a proverb that used in everyone's life regularly!

    h4 Lightbox work-around
    a.link(href="http://www.google.com" data-href="http://www.google.com" target="_blank" rel="lightbox") Get google for me
