footer#footer
    ul.list-pipe
        li
            a.link(href="/") Home
        li
            a.link(href="#") Products
        li
            a.link(href="#") Contact
        li
            a.link(href="/login") Login
    div
        small &copy; Copy right 2015