header#header
	#logo
		image(src="/build/images/global/logo.png")
		h2 Company
	ul.headerList.list-pipe
		li
			a.link(href="/") Home
		li
			a.link(href="#") Products
		li
			a.link(href="#") Contact
		li
			a.link(href="/login") Login