header#header
	#logo
		image(src="/build/images/global/logo.png")
		h3 Company
	div.menu
		p.user
			if data.user
				span !{data.user.id}
				span !{data.user.name}
			else
				span Welcome
		ul.headerList.list-pipe
			li
				a.link(href="/") Home
			li
				a.link(href="/layoutExamples") Layout Examples
			li
				a.link(href="#") Contact
			li
				a.link(href="/login") Login