#pageContent {
	padding: @spacer-l @spacer-l 0 @spacer-l;
}
#header,
#footer {
	padding: @spacer-l 0 0;
}
#header {
	border-bottom: 1px solid @gray;
	color: @white;
	.gradient-linear-v (0px, 100%, @black, @blue-darkest);
	padding-bottom: @spacer-l;
}
#logo {
	float: left;
	height: @spacer-l * 2;
	width: @spacer-xl * 8;
	overflow: hidden;
	position: relative;

	> * {
		float: left;
	}

	h3 {
		margin: @spacer-m 0 0 @spacer-m;
	}
}
.menu {
	float: right;
	text-align: right;
}
.user {
	.clearfix();
	min-height: @spacer-l;
	padding-right: @spacer-m;
}
.headerList {
	.clearfix();
}
.headerList a {
	color: @blue-lit;
}
#footer {
	.gradient-linear-v (0px, 25%, @gray, @white);
	padding-bottom: @spacer-l;
	text-align: center;
}
.home-page {
	#main {
		float: left;
	}
	#pane {
		float: left;
	}
}
