doctype html
html(lang='en')

	head
	link(rel="icon" type="image/png" href="/build/images/global/favico_logo.png")
	include ./include/meta.jade
	include ./include/styleList.jade
		block title
			title title
	body

		#wrapper
			include ./include/header.jade
			#pageContent
				block pageContent

			include ./include/footer.jade