doctype html
html
	head
	include ./include/meta.jade
	include ./include/styleList.jade
		block title
			title title
	body
		#wrapper
			include ./include/header.jade
			#pageContent
				block pageContent

			include ./include/footer.jade