extends ../layout/home.jade

block title
	title !{data.page.title}

block main
	h1 !{data.name}

	include ../templates/searchForm.jade

block pane
	include ../templates/adBlock.jade

block bottomBar
	include ../templates/sampleResponsive.jade
