extends ./global/base.jade

block pageContent
	#navBar
		block navBar
	#adBar
		block adBar
	.home-page.row-fluid
		#main.span8
			block main
		#pane.span4
			block pane
	#bottomBar
		block bottomBar
