extends ./global/base.jade

block pageContent
		#navBar
			block navBar
		#adBar
			block adBar
		#main
			block main
		#bottomBar
			block bottomBar
		#footer
			block footer
		#bottomBar
			block bottomBar
